// Specific CSS for your home-page
.containar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  max-width: 1200px;
  margin: auto;
  text-align: -webkit-center;
  background-color: #2f4468;
}

.center {
  margin: auto;
  padding: 10px;
  text-align: -webkit-center;
}

h1,
h2 {
  color: rgb(155, 193, 243);
  margin-bottom: 20px;
}

.h1_1 {
  padding: 20px;
  color: rgb(37, 240, 223);
}

.test {
  color: rgb(189, 212, 241);
  padding: 20px;
}

.linko {
  color: rgb(155, 193, 243);
}

.linko:hover {
  text-decoration: none;
  color: rgb(129, 200, 248);
}

.table_1 {
  justify-content: space-between;
  max-width: 400px;
  min-width: 300px;
  color: rgb(155, 193, 243);
}
