// Specific CSS for your home-page
.mt {
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: #2f4468;
  overflow-y: scroll;
}

.center {
  margin: auto;
  padding: 10px;
  text-align: -webkit-center;
}

h1,
h2 {
  color: rgb(155, 193, 243);
  margin-bottom: 20px;
}

h4 {
  font-family: "Segoe UI Black";
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.h1_1 {
  color: rgb(37, 240, 223);
  font-size: 24px;
  font-weight: 800;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-family: "Segoe UI Black";
}

.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  padding: 1.2px;
}

.test {
  color: rgb(189, 212, 241);
  padding: 20px;
  margin: auto;
}

.linko {
  color: rgb(155, 193, 243);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.linko:hover {
  text-decoration: none;
  color: rgb(39, 168, 253);
}

.next {
  color: rgb(155, 193, 243);
  font-size: 60px;
  z-index: 5;
  position: absolute;
}

.next:hover {
  text-decoration: none;
  color: rgb(39, 168, 253);
}

.next-1 {
  left: 0;
  padding: 105px 200px 105px 30px;
}
.next-2 {
  right: 0;
  padding: 105px 30px 105px 200px;
}

.table_1 {
  justify-content: space-between;
  max-width: 400px;
  min-width: 300px;
  color: rgb(155, 193, 243);
}

.container {
  min-height: 70vh;
  padding-left: 0;
  padding-right: 0;
}

.container-show {
  margin: auto;
  max-width: 500px;
  position: relative;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.container-new {
  margin: auto;
  max-width: 500px;
  position: relative;
}

.c-s {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.top-show {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: end;
  padding: 15px;
  width: 250px;
  font-family: "Segoe UI Black";
}

.edit {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 6;
  font-size: 20px;
}
