.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-category:hover {
  color: rgb(129, 200, 248);
  border: solid rgb(129, 200, 248);
}

.card-spec {
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.card-spec:hover {
}

.card-show {
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: -1;
  position: relative;
}

img {
  vertical-align: -125px;
}
