.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbaro {
  margin: auto;
  height: 70px;
  max-width: 800px;
  background: #344d77;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  z-index: 11;
}

.navbaro-s {
  margin-bottom: 1px;
}
